<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>hush</title>
    <link rel="icon" th:href="@{/images/logo.jpeg}">
    <link rel="stylesheet" data-th-href="@{/admin/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" data-th-href="@{/admin/lib/editormd/css/editormd.css}" />
    <link rel="stylesheet" data-th-href="@{/admin/page/css/admin.css}" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Hush</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div th:replace="admin/common/left-nav"/>


    <div class="layui-body">
        <table class="layui-hide" id="test" lay-filter="test"></table>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            </div>
        </script>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © hush.com - 底部固定区域
    </div>


    <div class="site-text" style="margin: 5%;  display: none" id="editorWindow">

    <form class="layui-form" style="width: 100%;" lay-filter="articleFilter">
        <div class="layui-form-item">
            <input type="hidden" id="id" name="id" />
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" style="width: 500px">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" id="title" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">栏目</label>
                <div class="layui-input-block">
                    <select id="category" name="category" lay-verify="required"  >
                        <option th:each="category : ${categories}"
                                th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block">
                    <div id="tags" class="xm-select-demo"></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">公开</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="state" name="state" lay-skin="switch">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="0" title="原创" checked>
                    <input type="radio" name="type" value="1" title="转载">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">封面图</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="img">点击上传</button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片预览</label>
            <input type="hidden" name="cover" id="cover"/>
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="imgShow" width="200px" height="200px">
                <p id="demoText"></p>
            </div>
        </div>
        <div class="layui-form-item">
            <div id="content">
                <!-- 内容主体区域 -->
                <textarea class="editormd-markdown-textarea" name="contentMd" style="display:none;"></textarea>
                <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                <textarea class="editormd-html-textarea" name="content" style="display:none;"></textarea>
            </div>
        </div>
        <!-- 内容主体区域 -->

    </form>
    </div>

</div>
<script type="text/javascript" data-th-src="@{/admin/lib/layui/layui.js}"></script>
<script data-th-src="@{/admin/lib/editormd/jquery.min.js}"></script>
<script data-th-src="@{/admin/lib/editormd/editormd.min.js}"></script>
<script data-th-src="@{/admin/lib/axios/axios.min.js}" ></script>
<script data-th-src="@{/admin/lib/xm-select.js}" ></script>
<script data-th-src="@{/admin/js/admin.js}"></script>

<script th:inline="none">
    const tags = xmSelect.render({
        el: '#tags',
        name: 'tags',
        prop: {
            name: 'name',
            value: 'id',
        },
        data: []
    });
    axios.get('/api/tag/list').then(response => {
        const res = response.data;
        tags.update({
            data: res.data,
            autoRow: true,
        })
    });
    var contentEditor = editormd("content", {
        path: "/admin/lib/editormd/lib/",   //你的path路径（原资源文件中lib包在我们项目中所放的位置）
        height: 640,
        onfullscreenExit: function() {
            this.resize('100%', 640);
        }
    });
    /*<![CDATA[*/
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/api/article/list'
            ,cellMinWidth: 80
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '文章列表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', fixed: 'left', unresize: true, sort: true, width: 70}
                ,{field:'title', title:'标题', edit: 'text'}
                ,{field:'cover', title:'图片地址', edit: 'text', templet: function(res){
                    return '<p>'+ res.cover +'</em>'
                }}
                ,{field:'author', title:'作者', edit: 'text', sort: true}
                ,{field:'categoryName', title:'栏目'}
                ,{field:'stateDesc', title:'状态'}
                ,{field:'type', title:'类型', width: 70, templet: function(res){
                    return '<p>'+ (res.type == "1" ? "转载" : "原创") +'</p>'
                }}
                ,{field:'publishTime', title:'出版时间', sort: true}
                ,{field:'editTime', title:'编辑时间'}
                ,{field:'createTime', title:'创建时间', sort: true},
                ,{field:'category', hide: true}
                ,{field:'state', hide: true}
                ,{fixed:'right', title:'操作', toolbar: '#barDemo', width:150}
            ]],
            page: true,
            limit: 20
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });
        var form = null;
        layui.use('form', function() {
            form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成
        });
        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                    const  editArticle = layer.open({
                    type: 1 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['100%', '100%']
                    ,title: ['编辑博客','font-size:18px']
                    ,btn: ['确定', '取消']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,content: $("#editorWindow")  //弹窗路径
                    ,success: function(layero,index){
                            $('#id').val(data.id);
                            $('#title').val(data.title);
                            $('#imgShow').attr('src', data.cover);
                            // layui中checkbox设置值不能用attr要是用prop！！！
                            $('#state').prop('checked', data.state == '1');
                            $('#cover').val(data.cover);
                            $("input[name=type][value='0']").prop("checked", data.type == 0);
                            $("input[name=type][value='1']").prop("checked", data.type == 1);
                            tags.setValue(data.tags);
                            $('#category').val(data.category);
                            contentEditor.setMarkdown(data.contentMd);
                            contentEditor.resize('100%', 640);
                            form.render();//在最后添加这句代码
                    }, yes: function (index, layero) {
                        var article = form.val('articleFilter');
                        article.tags = tags.getValue();
                        article.state = article.state === "on" ? "1" : "0";
                        article.createTime = data.createTime;
                        article.author = data.author;
                        article.publishTime = data.publishTime;
                        axios.put('/api/article/edit', article).then((data) => {
                        //根据后台返回的参数，来进行判断
                        if (data > 0) {
                            layer.alert('编辑成功',{icon: 1, title: '提示'}, function (i) {
                                layer.close(i);
                                layer.close(index);//关闭弹出层
                                $("#book")[0].reset()//重置form
                            })
                            table.reload('demo',{//重载表格
                                page:{
                                    curr:1
                                }
                            })
                        }});
                    }
                });
                layer.full(editArticle);
            }
        });
    });

    /*]]>*/
</script>
</body>
</html>