<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About - Hush</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" th:href="@{/images/logo.jpeg}">
    <link rel="stylesheet" data-th-href="@{/site/css/style.min.css}"/>
</head>
<body>
<div th:replace="site/common/header"></div>
<article class="main-content page-page">
    <div class="post-header"><h1 class="post-title" itemprop="name headline"> About </h1>
        <div class="post-data">
            <time datetime="2016-01-28T14:07:00+08:00" itemprop="datePublished">发布于 2020-7-21</time>
        </div>
    </div>
    <div id="post-content" class="post-content"><h3>简介</h3>
        <p>欢迎来到我的博客</p>
        <p>我是 cyx ，Java菜鸟一枚</p>
        <p><a href="" target="_blank">Hush</a> 这是我的博客网站</p>
        <p>以后会在这儿分享一些自己的学到的知识</p>
        <p>该博客的源码在这👉<a href="https://github.com/cyx-code/hush" target="_blank">GitHub</a></p>
        <P>希望可以动动你发财的小手点个star什么🌝，也欢迎fork，现在比较简单，以后会完善</P>
        <h3>关于我</h3>
        <p>社畜小开发一个</p>
        <p>希望自己可以🐮🍺</p>
        <p>如果你想跟我做朋友的话，必须欢迎，联系方式如下：</p>
        <ul>
            <li><p><a href="" target="_blank">Blog</a></p></li>
            <li><p><a href="https://github.com/cyx-code/" target="_blank">Github</a></p></li>
            <li><p><a href="https://leetcode-cn.com/u/ioroi/" target="_blank">LeetCode</a></p></li>
            <li><p>微信: cyx1741914950</p></li>
        </ul>
</article>

<div id="respond-post-334" class="comment-container">
    <div id="comments" class="clearfix">
        <span class="response" id="response">Responses
            <span id="response-name" style="color: red"></span>
            <button id="cancel-comment-reply-link"
                    rel="nofollow" style="display:none"
                    onclick="return cancelReply();"> / Cancel Reply</button>
        </span>
        <form method="post" action="#" id="comment-form" class="comment-form" role="form">
            <input name="sort" value="2" style="display: none;">
            <input name="pid" id="pId" value="" style="display: none;">
            <input name="forWho" id="forWho" value="" style="display: none;">
            <input type="text" name="name" maxlength="12" id="author" class="form-control input-control clearfix" placeholder="Name (*)" value="" required="">
            <input type="text" name="contact" class="form-control input-control clearfix" placeholder="Contact" value="" >
            <textarea name="content" id="textarea" class="form-control" placeholder="Your comment here. Be cool. " required=""></textarea>
            <button type="submit" class="submit" id="submit">SUBMIT</button>
        </form>
        <ol class="comment-list">
            <li th:each="parent : ${comments.rows}" th:id="'li-comment-' + ${parent.id}" class="comment-body comment-parent comment-even">
                <div th:id="'comment-' + ${parent.id}">
                    <div class="comment-view" onclick="">
                        <div class="comment-header">
                            <img class="avatar" th:src="@{/images/user.png}" width="80" height="80">
                            <span class="comment-author">
                                <a th:href="${parent.url}" target="_blank" rel="external nofollow">[[${parent.name}]]</a>
                                <span>[[${parent.device}]]</span>
                            </span>
                        </div>
                        <div class="comment-content">
                            <span class="comment-author-at"></span>
                            <p>[[${parent.content}]]</p>
                            <p></p>
                        </div>
                        <div class="comment-meta">
                            <time class="comment-time">[[${parent.time}]]</time>
                            <span class="comment-reply">
                                 <a href="#comments" rel="nofollow" th:onclick="reply([[${parent.id}]], [[${parent.name}]]);">Reply</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div th:if="!${#lists.isEmpty(parent.children)}" class="comment-children">
                    <ol class="comment-list">
                        <li th:each="child : ${parent.children}" th:id="'li-comment-' + ${child.id}" class="comment-body comment-child comment-level-odd comment-odd">
                            <div th:id="'comment-' + ${child.id}">
                                <div class="comment-view" onclick="">
                                    <div class="comment-header">
                                        <img class="avatar" th:src="@{/images/user.png}" width="80" height="80">
                                        <span class="comment-author">
                                            <a th:href="${child.url}" target="_blank" rel="external nofollow">[[${child.name}]]</a>
                                            <span>[[${child.device}]]</span>
                                        </span>
                                    </div>
                                    <div class="comment-content">
                                        <span class="comment-author-at"><a th:href="${child.pId}">@[[${child.target}]]</a></span>
                                        <p>[[${child.content}]]</p>
                                        <p></p>
                                    </div>
                                    <div class="comment-meta">
                                        <time class="comment-time">[[${child.time}]]</time>
                                        <span class="comment-reply">
                                            <a rel="nofollow" th:onclick="reply([[${parent.id}]], [[${child.name}]]);">Reply</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </li>
        </ol>
        <div th:if="${comments.pages} > 0" class="lists-navigator clearfix">
            <ol class="page-navigator">
                <li th:if="${comments.current} > 1" class="prev">
                    <a th:href="'/about?page=' + (${comments.current} - 1)" >←</a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, comments.pages)}" th:class="${comments.current} == ${i} ? 'current' : ''">
                    <a th:href="'/about?page=' + ${i}">[[${i}]]</a>
                </li>
                <li th:if="${comments.current} < ${comments.pages}" class="next">
                    <a th:href="'/about?page=' + (${comments.current} + 1)">→</a>
                </li>
            </ol>
        </div>
    </div>
</div>

<div th:replace="site/common/footer"></div>
<script th:src="@{/admin/lib/editormd/jquery.min.js}"></script>
<script th:src="@{/site/js/comment.js}"></script>
</body>
</html>
