<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archives - Hush</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" th:href="@{/images/logo.jpeg}">
    <link rel="stylesheet" data-th-href="@{/site/css/style.min.css}"/>
</head>
<body class="bg-grey">
<div th:replace="site/common/header"></div>


<div class="main-content archive-page clearfix">
    <div class="categorys-item">
        <span th:each="archive : ${archives}">
            <div class="categorys-title">[[${archive.month}]]</div>
            <div class="post-lists">
                <div class="post-lists-body">
                    <div class="post-list-item" th:each="a : ${archive.articles}">
                        <div class="post-list-item-container" th:onclick="changeHref('/article/' + [[${a.id}]]);";>
                            <div class="item-label">
                                <div class="item-title">
                                    <a th:text="${a.title}"></a>
                                </div>
                                <div class="item-meta clearfix">
                                    <div class="item-meta-date">[[${a.day}]]</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </span>
    </div>
</div>

<div th:replace="site/common/footer"></div>
</body>
</html>
