<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="<?php $this->options->siteUrl(); ?>" class="navbar-logo">
            <img th:src="@{/images/logo.jpeg}" alt="Hush" style="width: 40px; height: 40px;"/>
        </a>
        <div class="navbar-menu">
                <a href="/archives">Archives</a>
                <a href="/links">Links</a>
                <a href="/about">About</a>
            </ul>
        </div>

        <a href="" class="navbar-search">
            <span class="icon-search"></span>
        </a>
        <!--<div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form id="search" method="post" action="<?php $this->options->siteUrl(); ?>" role="search">
                <span class="search-box">
                    <input type="text" id="input" class="input" name="s" required="true" placeholder="Search..." maxlength="30" autocomplete="off">
                </span>
            </form>
        </div>-->
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="/archives">Archives</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</header>
© 2020 GitHub, Inc.