<script data-th-src="@{/admin/lib/axios/axios.min.js}" ></script>
<!--<script type="text/javascript" data-th-src="@{/admin/lib/vue/vue.min.js}"></script>-->
<!--<script type="text/javascript" data-th-src="@{/admin/lib/element-ui/lib/index.js}"></script>-->
<script data-th-src="@{/admin/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>

<script data-th-src="@{/admin/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<!--<script data-th-src="@{/admin/lib/xm-select.js}"></script>-->
<!--<script data-th-src="@{/admin/js/admin.js}"></script>-->



