<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item"><a href="/admin/">首页</a></li>

            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">文章管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/article/write">写文章</a></dd>
                    <dd><a href="/admin/article/show">文章列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/admin/comment">评论管理</a>
            </li>
            <li class="layui-nav-item"><a href="">标签管理</a></li>
            <li class="layui-nav-item"><a href="">栏目管理</a></li>
        </ul>
    </div>
</div>