<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>hush</title>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" data-th-href="@{/admin/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" data-th-href="@{/admin/lib/editormd/css/editormd.css}" />
    <link rel="stylesheet" data-th-href="@{/admin/page/css/admin.css}" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Hush</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    hush
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>-->
    </div>

    <div th:replace="admin/common/left-nav"/>


    <div class="layui-body">
        <table class="layui-hide" id="categories" lay-filter="categories"></table>

        <script type="text/html" id="categoryToolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
            </div>
        </script>

        <script type="text/html" id="categoryBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © hush.com
    </div>
    <div class="site-text" style="margin: 5%;  display: none" id="addCategory">
        <form class="layui-form" id="categoryForm" style="width: 100%;" lay-filter="categoryFilter">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="name" name="name"  lay-verify="required" placeholder="请输入栏目名称" autocomplete="off" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 350px">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-block">
                        <input type="text" id="icon" name="icon"  lay-verify="required" placeholder="请输入图标" autocomplete="off" class="layui-input" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" data-th-src="@{/admin/lib/layui/layui.js}"></script>
<script data-th-src="@{/admin/lib/editormd/jquery.min.js}"></script>
<script data-th-src="@{/admin/lib/axios/axios.min.js}" ></script>
<script th:inline="none">
    /*<![CDATA[*/
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#categories'
            ,url:'/api/category'
            ,cellMinWidth: 80
            ,toolbar: '#categoryToolbar' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports']
            ,title: '分类列表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', hide: true}
                ,{field:'name', title:'分类名称', edit: 'text'}
                ,{field:'icon', title:'分类图标', edit: 'text'}
                ,{field:'articleCount', title:'文章数量'}
                ,{fixed:'right', title:'操作', toolbar: '#categoryBar', width:150}
            ]],
            id: 'categoryTable',
            page: true,
            limit: 20
        });

        //头工具栏事件
        table.on('toolbar(categories)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 1 //Page层类型
                        ,skin: 'layui-layer-molv'
                        ,area: ['30%', '30%']
                        ,title: ['添加栏目','font-size:18px']
                        ,btn: ['确定', '取消']
                        ,shadeClose: true
                        ,shade: 0 //遮罩透明度
                        ,content: $("#addCategory")  //弹窗路径
                        ,success: function(layero,index){
                            $('#categoryForm')[0].reset();
                        }, yes: function (index, layero) {
                            const category = form.val('categoryFilter');
                            axios.post('/api/category', category).then((response) => {
                                // 根据后台返回的参数，来进行判断
                                if (response.data.code == 200) {
                                    layer.alert('添加成功',{icon: 1, title: '提示'}, function (i) {
                                        layer.close(i);
                                        layer.close(index);//关闭弹出层
                                    });
                                    table.reload('categoryTable',{//重载表格
                                        page:{
                                            curr:1
                                        }
                                    })
                                } else {
                                    layer.msg(response.data.msg);
                                }
                            });
                        }
                    });
                    break;
            };
        });
        var form = null;
        layui.use('form', function() {
            form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成
        });
        //监听行工具事件
        table.on('tool(categories)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('删除栏目将会删除该栏目下所有文章！', function(index){
                    obj.del();
                    layer.close(index);
                    axios.delete('/api/category/'+data.id).then(response => {
                        if (response.data.code === 200) {
                            layer.msg('删除成功');
                        } else {
                            layer.msg('出了点小问题');
                        }
                    })
                });
            }
            if (obj.event === 'edit') {
                axios.put('/api/category', data).then(response => {
                    if (response.data.code === 200) {
                        layer.msg("修改成功")
                    } else {
                        layer.msg("出了点小问题")
                    }
                })
            }
        });
    });

    /*]]>*/
</script>
</body>
</html>