<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.hush.mapper.ArticleMapper" >
  <select id="findById" resultType="com.blog.hush.entity.Article">
    SELECT
      a.id,
      a.title,
      a.cover,
      a.author,
      tc.name AS categoryName,
      a.origin,
      a.state,
      a.publish_time,
      a.edit_time,
      a.create_time,
      a.type,
      a.content,
      a.content_md,
      a.hits
    FROM
        tb_article a
        LEFT JOIN tb_article_category ac ON a.id = ac.article_id
        LEFT JOIN tb_category tc ON tc.id = ac.category_id
    WHERE
        a.id = #{id}
  </select>
    <select id="listArticleVo" resultType="com.blog.hush.vo.ArticleVo">
        SELECT
          a.id,
          a.title,
          a.cover,
          a.author,
          tc.name AS categoryName,
          a.origin,
          a.state,
          if(a.state='1', '已发布', '未发布') as stateDesc,
          a.publish_time,
          a.edit_time,
          a.create_time,
          a.type,
          a.content,
          a.content_md,
          tc.id as category
        FROM
            tb_article a
            LEFT JOIN tb_article_category ac ON a.id = ac.article_id
            LEFT JOIN tb_category tc ON tc.id = ac.category_id
        LIMIT #{start},#{size}

    </select>
    <select id="listArchives" resultType="com.blog.hush.vo.ArticleVo">
        select
          id,
          title,
	      date_format( publish_time, '%Y-%m' ) as `month`,
	      date_format( publish_time, '%Y-%m-%d' ) as `day`
        from
	      tb_article
	    where
	      state = "1"
    </select>
  <insert id="insertAndBackId" parameterType="com.blog.hush.entity.Article"
    useGeneratedKeys="true" keyProperty="id">
      INSERT INTO
      tb_article(title, cover, author, category, origin, state, publish_time, edit_time, create_time, type, content, content_md)
      VALUES (#{article.title},#{article.cover},#{article.author},
      #{article.category},#{article.origin},#{article.state},#{article.publishTime},
      #{article.editTime},#{article.createTime},#{article.type},#{article.content},#{article.contentMd})
  </insert>
    <select id="listByTag" resultType="com.blog.hush.entity.Article">
        SELECT
            a.id,
            title,
            publish_time ,
            c.icon as bgIco
        FROM
            tb_article_tag t
            LEFT JOIN tb_article a ON t.article_id = a.id
            left join tb_article_category ac on a.id = ac.article_id
            LEFT JOIN tb_category c on c.id = ac.category_id
        WHERE
            t.tag_id = #{tag}
        ORDER BY
            a.publish_time DESC
    </select>

    <select id="listByCondition" parameterType="string" resultType="com.blog.hush.entity.Article">
        select
          a.id,
          a.title,
          date_format( publish_time, '%Y-%m-%d' ) as `publish_time`,
          c.icon as bgIco
        from
          tb_article a
          left join tb_article_category ac on a.id = ac.article_id
          left join tb_category c on ac.category_id = c.id
        where
          a.title like "%"#{condition}"%"
          or a.content like "%"#{content}"%"
          and a.state = "1"
    </select>

    <select id="sumHits" resultType="int" >
        select sum(hits) from tb_article
    </select>
</mapper>