<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.hush.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.blog.hush.entity.Article" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="content_md" property="contentMd" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="findById" resultMap="BaseResultMap">
    SELECT
      a.id,
      a.title,
      a.cover,
      a.author,
      tc.name AS categoryName,
      a.origin,
      a.state,
      a.publish_time,
      a.edit_time,
      a.create_time,
      a.type,
      a.content,
      a.content_md
    FROM
        tb_article a
        LEFT JOIN tb_article_category ac ON a.id = ac.article_id
        LEFT JOIN tb_category tc ON tc.id = ac.category_id
    WHERE
        a.id = #{id}
  </select>
  <insert id="insertAndBackId" parameterType="com.blog.hush.entity.Article"
    useGeneratedKeys="true" keyProperty="id">
      INSERT INTO
      tb_article(title, cover, author, category, origin, state, publish_time, edit_time, create_time, type, content, content_md)
      VALUES (#{article.title},#{article.cover},#{article.author},
      #{article.category},#{article.origin},#{article.state},#{article.publishTime},
      #{article.editTime},#{article.createTime},#{article.type},#{article.content},#{article.contentMd})
  </insert>
</mapper>