<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.hush.mapper.CommentMapper" >
  <select id="findAll" resultType="com.blog.hush.entity.Comment">
      SELECT
          c.content,
          c.NAME,
          c.article_id
      FROM
          tb_article a,
          tb_comment c
      WHERE
          c.article_id IN ( SELECT id FROM tb_article )
          AND a.state = #{state}
          order by c.time desc
          LIMIT #{queryPage.page}, #{queryPage.limit}
  </select>
</mapper>