<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.hush.mapper.TagMapper" >
  <select id="listTagsByArticleId" resultType="com.blog.hush.entity.Tag">
    SELECT
        tt.id,
        tt.`name`
    FROM
        tb_tag tt
        LEFT JOIN tb_article_tag tat on tt.id = tat.tag_id
        LEFT JOIN tb_article ta on ta.id = tat.article_id
    WHERE
        ta.id = #{id}
  </select>
    <select id="listTags" resultType="com.blog.hush.entity.Tag">
        select
            t.id,
            t.name,
            ifnull( tt.count, 0 ) as `count`
        from
            tb_tag t
            left join ( select count(*) AS count, tag_id from tb_article_tag group by tag_id ) tt on t.id = tt.tag_id
        where
            `count` != 0
        order by count desc
    </select>

    <select id="pageTags" resultType="com.blog.hush.entity.Tag">
        select
            t.id,
            t.name,
            ifnull( tt.count, 0 ) as count
        from
            tb_tag t
            left join ( select count(*) AS count, tag_id from tb_article_tag group by tag_id ) tt on t.id = tt.tag_id
        order by count desc
        limit #{page}, #{limit}
    </select>
</mapper>